<% fiat_currency = current_user.fiat_currency %>
<% fiat_value = number_to_currency((@summary.btc * fiat_currency.current_price.price).round) %>
<% content_for :head do %>
  <%= javascript_import_module_tag 'dashboard' %>
<% end %>

<h1>Dashboard</h1>
<div>
  <table>
    <thead>
    </thead>
    <tbody>
    <tr>
      <td>Fiat Value</td>
      <td><strong> <%= fiat_value %> <%= fiat_currency.code %></strong></td>
    </tr>
      <tr>
        <td>Stack (BTC)</td>
        <td> <strong> <%= @summary.btc %> </strong> </td>
      </tr>
      <tr>
        <td>NGU</td>
        <td><%= @summary.ngu.round(1) %> X</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table>
    <thead>
    </thead>
    <tbody>
    <% for price in @current_prices do %>
      <tr>
        <td>BTC <%= price&.fiat_currency&.code %> price </td>
        <td><%= number_to_currency(price&.price&.round) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h3>Porfolio Value</h3>

<div id="chart-container" style="height: 300px; width: 400px">

</div>

<ul>
  <li>
    <%= link_to 'Transactions', controller: 'transactions' %>
  </li>
  <li>
    <%= link_to 'Charts', controller: 'charts' %>
  </li>
  <li>
    <%= link_to 'Notes', controller: 'transactions' %>
  </li>
  <li>
    <%= link_to 'Settings', controller: 'user_settings' %>
  </li>
</ul>

