<% fiat_currency = current_user.fiat_currency %>
<% fiat_value = number_to_currency((@summary.btc * fiat_currency.current_price.price).round) %>
<% current_price = fiat_currency.current_price %>
<% content_for :head do %>
  <%= javascript_import_module_tag 'dashboard' %>
<% end %>

<div class="text-center">
  <div class="row align-items-center mb-4 mt-4">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="text-center">
  <div class="row align-items-center">
    <div class="col-12 col-sm-3 ">
      <p class="lead">Fiat Value: <strong class="fw-bold"><%= fiat_value %> <%= fiat_currency.code %></strong></p>
    </div>
    <div class="col-12 col-sm-3 ">
      <p class="lead">Stack (BTC): <strong class="fw-bold"><%= @summary.btc %></strong></p>
    </div>
    <div class="col-12 col-sm-3 ">
      <p class="lead">Cost Basis: <strong class="fw-bold"><%= number_to_currency(@summary.fiat) %> <%= fiat_currency.code %></strong></p>
    </div>
    <div class="col-12 col-sm-3">
      <p class="lead">NGU: <strong class="fw-bold"><%= @summary.ngu.round(1) %> X</strong></p>
    </div>
    <div class="col-12 col-sm-3">
      <p class="lead"> Current <%= fiat_currency.code %> Price:
        <strong class="fw-bold">
          <%= number_to_currency(current_price.price) %>
        </strong></p>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="row align-items-center mb-5">
    <h3>Fiat Value</h3>
  </div>
</div>

<div id="chart-container" style="height: 400px; width: 100%">
</div>


