<% current_price = current_user.current_price.price.round(2) %>
<% content_for :head do %>
  <%= javascript_import_module_tag 'edit_note' %>
<% end %>

<div class="row mt-3">
  <div class="col-12 col-lg-6 mx-auto">
    <%= form_with(model: note) do |form| %>
      <div class="mb-3">
        <%= form.label :price, class: 'form-label' %>
        <%= form.number_field :price, value: note&.price&.round(2) || current_price, class: 'form-control', disabled: true %>
      </div>

      <div class="mb-3">
        <%= form.label :sentiment, class: 'form-label' %>
        <%= form.select :sentiment, Note.sentiments.keys, { value: note.sentiment || Note.sentiments.first }, { class: 'form-select'} %>
      </div>

      <div class="mb-3">
        <%= form.label :body, class: 'form-label' %>
        <%= form.hidden_field :body, value: note.body, class: 'form-control' %>
      </div>

      <div id="editorjs"></div>

      <% if note.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
            <% note.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.submit class: 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>



