<% content_for :head do %>
  <%= javascript_import_module_tag 'read_note' %>
<% end %>

<input class="d-none" value="<%= @note.body %>" id="note-content">
<div class="card mb-5">
  <div class="card-header">
    <div class="float-start align-middle">
      <%= created_at %>

    </div>
    <div class="float-end align-middle">
      <span class="badge text-bg-primary me-2"><%= @note.sentiment %></span> <span class="badge text-warning bg-dark"><%= price %> <%= fiat_code %></span>
    </div>

  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-12 mx-auto">
        <div id="editorjs"></div>
      </div>
    </div>
  </div>
</div>
