<%= form_with(model: user_setting) do |form| %>
  <div>
    <%= form.label :fiat_currency_id, 'Preferred Fiat Currency' %>
    <%= form.select :fiat_currency_id, FiatCurrency.all.pluck(:code, :id) %>
  </div>

  <div>
    <%= form.label :time_zone, 'Time Zone' %>
    <%= form.select :time_zone, TZInfo::Timezone.all_identifiers %>
  </div>

  <% if user_setting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_setting.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

      <ul>
        <% user_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Save' %>
  </div>
<% end %>
