<% local_date = presenter.transaction.local_transaction_date %>
<tr id=<%= dom_id presenter.transaction %>>
  <td title="<%=local_date.strftime('%Y-%m-%d %I:%M %p') %>"><%= local_date.strftime('%Y-%m-%d') %></td>
  <td><%= presenter.transaction.transaction_type %></td>
  <td><%= presenter.transaction.as_btc %></td>
  <td><%= number_to_currency(presenter.transaction.fiat) %></td>
  <td><%= presenter.transaction.fiat_currency.code %></td>
  <td><%= number_to_currency(presenter.current_value.round(2)) %></td>
  <td><%= presenter.ngu %></td>

  <td>
    <%= link_to 'Details', transaction_path(presenter.transaction) %>
  </td>
  <td>
    <%= link_to 'Edit', edit_transaction_path(presenter.transaction) %>
  </td>
</tr>