<% decorated_transaction = TransactionPresenter.new(transaction) %>

<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
    <h5>Transaction Date</h5>
    <p class="fs-4 mb-3"> <%= transaction.transaction_date.strftime('%Y-%m-%d %I:%M %p') %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>Transaction Type</h5>
    <p class="fs-4 mb-3"> <%= transaction.transaction_type %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>Sats</h5>
    <p class="fs-4 mb-3"> <%= number_to_human(transaction.as_sats) %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>BTC</h5>
    <p class="fs-4 mb-3"> <%= number_with_precision(transaction.as_btc, precision: 8) %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>Fiat Amount</h5>
    <p class="fs-4 mb-3"> <%= number_to_currency(transaction.fiat) %> <%= transaction.fiat_currency.code if transaction.fiat %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>Current Value</h5>
    <p class="fs-4 mb-3"> <%= number_to_currency(decorated_transaction.current_value) %> <%= transaction.fiat_currency.code %></p>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <h5>NgU</h5>
    <p class="fs-4 mb-3"> <%= decorated_transaction.ngu %><%= 'x' if transaction.fiat %> <%= NumberGoUpPresenter.emoji(decorated_transaction.ngu) %></p>
  </div>
</div>


