<tr id=<%= dom_id presenter.transaction %>>
  <td><%= presenter.transaction.local_transaction_date.strftime('%Y-%m-%d %I:%M %p') %> <%= current_user.local_zone.abbreviation %></td>
  <td><%= presenter.transaction.transaction_type %></td>
  <td><%= presenter.transaction.as_btc %></td>
  <td><%= number_to_currency(presenter.transaction.fiat) %></td>
  <td><%= presenter.transaction.fiat_currency.code %></td>
  <td><%= number_to_currency(presenter.current_value.round(2)) %></td>
  <td><%= presenter.ngu %></td>
</tr>