<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div id="transactions">
  <table>
    <thead>
    <tr>
      <td>Time</td>
      <td>Type</td>
      <td>BTC Amount</td>
      <td>Fiat Amount</td>
      <td>Fiat</td>
      <td>Current Value</td>
      <td>NGU</td>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <%= render partial: 'transaction_list_item', locals: { presenter: transaction } %>
    <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) %>
  <%== pagy_info(@pagy) %>

</div>

<%= link_to "New transaction", new_transaction_path %>

<ul>
  <li>
    <%= link_to 'Dashboard', controller: 'dashboard' %>
  </li>
  <li>
    <%= link_to 'Notes', controller: 'transactions' %>
  </li>
  <li>
    <%= link_to 'Settings', controller: 'user_settings' %>
  </li>
</ul>